{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <table border="1" class="table table-striped table-hover">
        <tr class="table-dark">
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
        </tr>
    {% for receita in lista_receitas %}
        <tr>
            <td>
                <img src="{% static 'suco.png' %}" 
                class="icone-suco">
                 {{receita.nome_receita}}                          
            </td>
            <td><a href={{receita.video}}>Ver vídeo</a></td>
            <td><a href="{% url 'sucodelaranja' %}" class="btn btn-info">Ver receita completa</a></td>
        </tr>
    {% endfor %}        
    </table>
{% include 'partials/footer.html' %}
{% endblock %}